.container1{
    text-align: center;
    margin-top: 160px;
}
.container1 button{
    color: azure;
    background-color: rgb(30, 0, 255);
    border-style: none;
    width: 120px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}
#num{
    margin-left: 20px;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 50px;
}
.container1 h1{
    font-size: 40px;
    font-weight: normal;
}